[Unit]
Description =  monitor CurrentHostState when property changed
After=health-statistics.service

[Service]
ExecStart=/usr/bin/req-host-trans-monitor.sh
Restart=always
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
