[Unit]
Description = monitor cpu, memory, disk usage utilization
After=health-statistics.service

[Service]
ExecStart=/usr/bin/usage-statistics-monitor.sh
Restart=always
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
